*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team h2{
    font-size: 30px;
}
.paragraph p{
 font-size: 13px;
 color: #6f6f6f8e;
}
.team p{
    width: 55%;
    font-size: 15px;
    color: #6f6f6f;;
    text-align: center;

}
.photo {
    width: 700px;
    height: 200px;
    overflow: hidden;
  }
  
  img {
    width: 300px;
    height: 200px;
    transition: transform 0.25s;
  }
 
  .photo:hover img {
 

    transform: scale(1.1);
  }
  .paragraph{
    width: 80%;
  }
  .paragraph p{
    width: 80%;
  }

